{% extends "faq/base.html" %}

{% block body %}
<h2>Welcome to the django-faq Example Project</h2>
<p>
Here are some options to try:
<dl>
	<dt>The <a href="/grouped_faq/">'Grouped' FAQ</a><dt>
	<dd>This page uses the faq_list_by_group view.</dd>
	<br/>
	<dt>The <a href="/faq/">'Ungrouped' FAQ</a><dt>
	<dd>This page uses the faq_list view.</dd>
	<br/>
	<dt>The <a href="/raw_faq/">'Raw' FAQ</a><dt>
	<dd>This page uses the question_list view. It is intended for site testers. (Note that answers for this view are not autoescaped.)</dd>
	<br/>
	<dt>The <a href="/submit_faq/">FAQ Submission Form</a><dt>
	<dd>This page is an example of a form that allows a site visitor to submit an FAQ for possible future inclusion in the FAQs.</dd>
	<br/>
	<dt>The <a href="/admin/">Django admin</a><dt>
	<dd>Remember that you have to clean up submitted questions in the admin before the will be visible in the FAQ.</dd>
</dl>
</p>
{% endblock %}

